
<main class="centered-div form-signin w-25 m-auto container">
<form>
  <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
  <div class="mb-3">
    <label for="userName" class="form-label">User Name</label>
    <input #inputUserName type="text" class="form-control" id="userName" name="userName">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input #inputEmail type="email" class="form-control" id="email" name="email" >
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <textarea #inputAddress class="form-control" id="address" name="address" ></textarea>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input #inputPassword type="password" class="form-control" id="password" name="password" >
  </div>
  <button type="button" class="btn btn-primary" (click)="signup(inputUserName.value,inputEmail.value,inputAddress.value,inputPassword.value)">Submit</button>
</form>
</main>
